*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #262626;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.sec1 {
  position: absolute;
  top: 300px;
}
.input-form {
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 6px;
}
.input-form:focus {
  outline: none;
}
.input-form::placeholder {
  text-align: center;
}
.fa-trash-can {
  color: #e4640f;
  padding: 5px 10px;
}
.fa-trash-can:hover {
  cursor: pointer;
}
.add-button {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #000000;
    font-size: 16px;
    color: #3e03df;
    border-radius: 4px;
    padding: 6px;
  }
  .add-button:hover {
    cursor: pointer;
    background-color: #363636;
  }
  .clearlist {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #000000;
    font-size: 16px;
    color: #032bdf;
    border-radius: 4px;
    padding: 6px;
  }
  .clearlist:hover {
    cursor: pointer;
    background-color: #363636;
  }
  .ul-list {
    list-style: none;
    margin-left: 40px;
    margin-top: 10px;
  }
@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}